* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  position: relative;
}
.wrapper .imgbox {
  width: 9999px;
  transition: transform 0.5s;
}
.wrapper .imgbox img {
  width: 100vw;
  float: left;
}
.wrapper .dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
}
.wrapper .dots .dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid silver;
}
.wrapper .dots .active {
  background: skyblue;
}
.wrapper .arrows {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid silver;
  text-align: center;
  line-height: 30px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: silver;
}
.wrapper .pre {
  left: 20px;
}
.wrapper .next {
  right: 20px;
}
.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}
